In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
(Answer):
A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, 
manipulation, and querying of information. Databases are used in various applications to store and manage vast amounts of data, 
ranging from small-scale personal projects to large-scale enterprise systems.

SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language 
(SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are 
vertically scalable, while NoSQL databases are horizontally scalable.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
(Answer):
DDL stands for "Data Definition Language," and it is a subset of SQL (Structured Query Language) that is used to 
define, modify, and manage the structure of database objects, such as tables, indexes, and constraints. 
DDL statements are used to create, alter, drop, and truncate database objects

In [ ]:
CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, and more. When creating a table, you define the columns and their data types, constraints, and other properties.
Example - Creating a new table named "Customers":

In [ ]:
Example:
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100) UNIQUE
);

In [ ]:
DROP:
The DROP statement is used to remove existing database objects, such as tables, indexes, or views. This operation permanently deletes the object and its associated data.
Example - Dropping a table named "Orders":

In [ ]:
DROP TABLE Orders;

In [ ]:
ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or dropping columns from a table.
Example - Adding a new column named "PhoneNumber" to the "Customers" table:

In [ ]:
ALTER TABLE Customers
ADD PhoneNumber VARCHAR(20);

In [ ]:
TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table while keeping the table structure intact. It is a faster operation compared to the DELETE statement, as it doesn't log individual row deletions and doesn't activate triggers.
Example - Truncating the "Products" table:

In [ ]:
TRUNCATE TABLE Products;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
(Answer):
DML stands for "Data Manipulation Language," and it is a subset of SQL (Structured Query Language) that deals 
with the manipulation of data stored in a database. DML statements are used to perform operations such as 
inserting, updating, and deleting data within the database tables.

In [ ]:
INSERT:
The INSERT statement is used to add new rows of data into a table. It allows you to specify the values for each column in the new row.
Example - Inserting a new customer record into the "Customers" table:

In [ ]:
INSERT INTO Customers (CustomerID, FirstName, LastName, Email)
VALUES (101, 'John', 'Doe', 'john.doe@example.com');

In [ ]:
UPDATE:
The UPDATE statement is used to modify existing data within a table. It allows you to change the values of one or more columns in one or more rows.
Example - Updating the email address of a customer in the "Customers" table:

In [ ]:
UPDATE Customers
SET Email = 'johndoe@example.com'
WHERE CustomerID = 101;

In [ ]:
DELETE:
The DELETE statement is used to remove one or more rows from a table based on a specified condition.
Example - Deleting a customer record from the "Customers" table:

In [ ]:
DELETE FROM Customers
WHERE CustomerID = 101;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
(Answer):
DQL stands for "Data Query Language," and it is a subset of SQL (Structured Query Language) that is used to 
retrieve and query data from a database. The primary DQL statement is the SELECT statement, which allows you to 
specify which data you want to retrieve from one or more database tables.

In [ ]:
Example - Retrieving the names and email addresses of all customers from the "Customers" table:
    SELECT FirstName, LastName, Email
    FROM Customers;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
(Answer):
Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each row or record 
in that table. It enforces the uniqueness constraint, ensuring that no two rows have the same values in the
primary key columns. Additionally, a primary key column cannot contain NULL values, as NULL values are not 
considered unique.

Foreign Key:
A foreign key is a column or a set of columns in a database table that establishes a link between data in two 
different tables. It represents a relationship between the tables, typically associating rows in one table with 
rows in another. The foreign key column(s) in one table refer to the primary key column(s) in another table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
 Install the library using the following command:
    pip install mysql-connector-python

In [ ]:
import mysql.connector

# Establish the database connection
db_connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
cursor = db_connection.cursor()

# Perform a SQL query using the execute() method
query = "SELECT * FROM Customers"
cursor.execute(query)

# Fetch the results using fetchall() method
results = cursor.fetchall()

# Display the results
for row in results:
    print(row)

# Close the cursor and the database connection
cursor.close()
db_connection.close()

In [ ]:
 Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
(Answer):
FROM Clause:
The FROM clause specifies the table or tables from which you want to retrieve data.

JOIN Clause:
If you are performing joins to combine data from multiple tables, the JOIN clauses are processed next. Different types of joins (INNER JOIN, LEFT JOIN, RIGHT JOIN, etc.) determine how data is combined from the involved tables.

WHERE Clause:
The WHERE clause filters the rows returned by the query based on specified conditions. Rows that do not meet the conditions are excluded.

GROUP BY Clause:
If you are using the GROUP BY clause, the data is grouped based on the specified columns. Aggregation functions like COUNT, SUM, AVG, etc., are applied to the grouped data.

HAVING Clause:
If a GROUP BY clause is used, the HAVING clause filters the grouped data based on aggregate conditions.

SELECT Clause:
The SELECT clause determines which columns to include in the result set. It also includes any calculated columns or expressions.

DISTINCT Clause:
If the DISTINCT keyword is used, duplicate rows are removed from the result set.

ORDER BY Clause:
The ORDER BY clause specifies the sorting order of the result set based on specified columns. The sorting is applied after all previous operations.

LIMIT/OFFSET Clause:
If supported by the database system, the LIMIT and OFFSET clauses are applied to limit the number of rows returned and to specify a starting point.